<%@user=User.find_by(name:"guest")%>






<%if @user%>
<div class="guest_form">
<p class="user_new_letter guest_form_letter">ゲスト(閲覧用)</p3>
     <div class="guest_form_top">
        <%if @user.avator.attached?%>
          <object><%= link_to image_tag(@user.avator),@user.avator, :rel => "lightbox" %></object>
        <%else%>
          <object><a href="/default.jpg" data-lightbox="group"><%=image_tag "/default.jpg"%></a></object>
        <%end%>
        <p class="user_show_name"><%=@user.name%></p>
        <%=link_to("ゲスト利用","/users/guest",{method: :post, class:"user_new_button guest_form_button"})%>
      </div>
</div>
<%else%>
<div class="guest_form">
<p class="user_new_letter">ゲスト利用(閲覧用)</p3>
     <div class="guest_form_top">
          <%=image_tag "/default.jpg"%>
        <p class="user_show_name">guest</p>
      </div>
      <%=link_to("ゲスト利用","/users/guest",{method: :post, class:"user_new_button guest_form_button"})%>
</div>
<%end%>





