<%@hashtag=Hashtag.find_by(id: params[:id])%>
<%@hashes=Hashtag.where(hashname: @hashtag.hashname)%>



<div class="hashtag_header">
 <p><%=@hashtag.hashname%></p>
 <p>投稿<span><%=@hashes.count%></span>件</p>
</div>











<div class="hashtag_show_container">
<%@hashes.each do |hashe|%>
<%@posts=Post.where(id: hashe.post_id)%>
<% @posts.each do |post| %>
   <%@user=User.find_by(id:post.user_id)%>
   <%if @user%>
   <div class="index_<%=post.id%>">
    <%= link_to("/posts/#{post.id}/comment",class: "link")do %>
     <div class="index">
     <div class="index_right_left">
      <div class="index_left">
       <div class="index_gazo">
        <%if @user.avator.attached?%>
        <object><%= link_to image_tag(@user.avator),@user.avator, :rel => "lightbox" %></object>
        <%else%>
        <object><a href="/default.jpg" data-lightbox="group"><%=image_tag "/default.jpg"%></a></object>
        <%end%>
       </div>
        <div class="index_likes_comments">
         <object><div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'posts/like', locals: { post: post} %>
         </div></object>
         <div class="index_comments">
          
           <span class="fas fa-comment fa-xs"><%=Comment.where(post_id: post.id).count%></span>
          
         </div>
        </div>
      </div>
 
      
      <div class="index_right">
       <div class="index_header">
       <div class="index_header_left">
       <object class="index_user_name"><%=link_to(@user.name,"/users/#{@user.id}")%></object>
        <p><%= post.updated_at.to_s(:datetime_jp) %></p>
        </div>
        <div class="comment_edit">
        <%if @current_user%>
        <%if @current_user.id==post.user_id%>
          <div class="post_edit_delete_modal_button">
          <span class="fas fa-ellipsis-h fa-lg"></span>
          <div class="post_edit_delete_modal_open">
          <div class="post_edit_delete_modal_wrapper">
          <div class="post_edit_delete_modal">
          <object><%=link_to("編集","/posts/#{post.id}/edit",id:"post_edit_modal_letter")%></object>
          <object><%=link_to("削除","/posts/#{post.id}",method: :delete,remote: true,class:"post_delete_modal_letter")%></object>
          <p id="post_modal_back">戻る</p>         
          </div>
          </div>
          </div> 
          </div>
         <%end%>
         <%end%>
       </div>        
       </div>
      
    
    

       <div class="index_title">
        <%=post.title%>
       </div>
       <div class="index_setu">


       <p><%=post.content%></p>


         
            
       <% if post.tag%>
       <%@hashtags=post.tag.scan(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/)%>
         <%@hashtags.uniq.map do |hashtag|%>
            <%@tag = Hashtag.find_or_create_by(hashname: hashtag, post_id: post.id)%>
            <%@tag.save%>
            <%@hash=Hashtag.find_by(hashname: hashtag)%>
            <object class="tag"><%=link_to(@hash.hashname,"/hashtags/#{@hash.id}")%></object>
         <%end%>
         <%end%>

       </div>
       
       


       <div class="index_right_file">
           
    
       <%if post.files.attached?%>
       <%if post.files.count==1 %>
        <div class="files_wrap">
         <div id="file1_0">
          <object><%= link_to image_tag(post.files[0]),post.files[0], :rel => "lightbox" %></object>
         </div>
        </div>
       <%end%>

       <%if post.files.count==2 %>
       <div class="files_wrap">
         <div id="file2_0">
          <object><%= link_to image_tag(post.files[0]),post.files[0], :rel => "lightbox[#{post.id}]" %></object>
         </div>
         <div id="file2_1">
          <object><%= link_to image_tag(post.files[1]),post.files[1], :rel => "lightbox[#{post.id}]" %></object>
         </div>
        </div>
       <%end%>



       <%if post.files.count==3 %>
       <div class="files_wrap">
          <div id="file3_0">
           <object><%= link_to image_tag(post.files[0]),post.files[0], :rel => "lightbox[#{post.id}]" %></object>
          </div>
          <div id="file3_12">
           <object id="file3_1"><%= link_to image_tag(post.files[1]),post.files[1], :rel => "lightbox[#{post.id}]" %></object>
           <object id="file3_2"><%= link_to image_tag(post.files[2]),post.files[2], :rel => "lightbox[#{post.id}]" %></object>
          </div>
       </div>
       <%end%>





       
       <%if post.files.count==4 %>
       <div class="files_wrap">
          <div id="file4_01">
          <object id="file4_1"><%= link_to image_tag(post.files[0]),post.files[0], :rel => "lightbox[#{post.id}]" %></object>
          <object id="file4_2"><%= link_to image_tag(post.files[1]),post.files[1], :rel => "lightbox[#{post.id}]" %></object>
          </div>
          <div id="file4_23">
          <object id="file4_3"><%= link_to image_tag(post.files[2]),post.files[2], :rel => "lightbox[#{post.id}]" %></object>
          <object id="file4_4"><%= link_to image_tag(post.files[3]),post.files[3], :rel => "lightbox[#{post.id}]" %></object>
          </div>
       </div>
       <%end%>

       <%end%>

       

       <%if post.movies.attached?%>
       <div class="files_wrap">
       <div id="file1_0">
        <object><video playsinline src="<%= rails_blob_path(post.movies[0]) %>" type="video/mp4" controls></video></object>
       </div>
       </div>
       <%end%>


       <%if post.tube?%>
       <%@post_tube=post.tube%>
       <%if @post_tube.first(17)!="https://youtu.be/"%>
       <object><p class="index_right_file_url"><%=raw Rinku.auto_link(h(@post_tube))%></p></object>
       <%else%>
       <%@post_tube=@post_tube.last(11)%>
       <div class="files_wrap">
       <div id="file1_0">
       <object><iframe playsinline src="https://www.youtube.com/embed/<%=@post_tube%>" type="video/mp4" controls></iframe></object>
       </div>
       </div>
       <object><p><%=link_to("https://youtu.be/#{@post_tube}","https://youtu.be/#{@post_tube}")%></p></object>
       <%end%>
       <%end%>







       </div>
       </div>
       </div>
      

      




     

      

  </div>
  <%end%>
  </div>
  <%end%>
<%end%>
<%end%>
</div>






<script>

var window_height = $(window).height();
var modal_height = $(".post_edit_delete_modal").height();
$(".post_edit_delete_modal").css("margin-top",((window_height - modal_height)/2) + "px");


$(".post_edit_delete_modal_button").click(function(e){
   $(this).find(".post_edit_delete_modal_open").fadeIn();
   e.preventDefault();
});


$("#post_edit_modal_letter").click(function() {
    window.location.href = $(this).attr('href'); 
});



$(".post_modal_back,.post_edit_delete_modal_open").click(function(e){
   var target = $(e.target);
   if(target.hasClass('post_delete_modal_letter')==false) {
      $(".post_edit_delete_modal_open").fadeOut();
      return false;
   }
});


$(".index_user_name").hover(
function(){
  $(this).find(".hover_profile").fadeIn();
},function(){
   $(this).find(".hover_profile").fadeOut();
});

if (window.matchMedia('(max-width: 390px)').matches) {
   $('#file1_0 video').attr('poster', 'post.JPG');
}
</script>